body {
  background-color: #DAF7A6;
  font: 18px "Century Gothic", Futura, sans-serif, bold;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

#header {
  font-size: 40px "Century Gothic", Futura, sans-serif, bold;
  margin-bottom: 40px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board-row {
  align-content: center;
}

.status {
  margin-bottom: 10px;
}

.square {
  background-color: #575755;
  border: 2px solid #999;
  color: whitesmoke;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  width: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.game-board {
  margin: auto;
  /*border: solid;*/

}

.game-info {
  margin: auto;
  margin-left: 20px;
}
